mixin button(options)
  -
    var buttonClass = "button"
    buttonClass += options.isOutline ? " .button--outline" : ""
    buttonClass += options.isBlock ? " .button--block" : ""
  if options.isLink
    a(href=options.href class=buttonClass)= options.content
  else
    button(class=buttonClass)= options.content