include ./components/UI/textfield/textfield
include ./components/UI/button/button
include ./components/UI/range-slider/range-slider
include ./components/UI/checkbox-list/checkbox-list
include ./components/UI/date-dropdown/date-dropdown
include ./components/UI/like-button/like-button

include ./blocks/rate-button/rate-button
include ./blocks/toggle/toggle
include ./blocks/pagination/pagination
include ./blocks/dropdown/dropdown

doctype html
html
  head
    title UIKit
  body.uikit
    .uikit__group
      +textfield({name: "email", id: "email", label:"Email", placeholder: "Email", mask: "email"})
      +textfield({name: "birthday", id: "birthday", label: "День рождения", placeholder: "ДД.ММ.ГГГГ", mask: "date"})
      +textfield({name: "subscription", id: "subscription", label: "Email для рассылок", placeholder: "Email", mask: "email", icon: "arrow_forward"})
    .uikit__group
      +button({content: "Зарегистрироваться"})
      +button({content: "Войти", isOutline:true})
      +button({href:"/fake-page", content: "Перейти к оплате", isBlock:true, icon: "arrow_forward"})
    .uikit__group
      +range-slider({label: "Диапазон цены", caption: "Стоимость за сутки пребывания в номере"})
    .uikit__group
      - const checkboxesArray = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"] 
      +checkbox-list(checkboxesArray, {label:"Правила дома"})
    .uikit__group
      +date-dropdown({double: true})
    .uikit__group 
      +like-button({likes: 4})
    .uikit__group 
      +rate-button()
    .uikit__group
      +toggle('Получать спецпредложения')
    .uikit__group 
      i.fa-brands.fa-twitter
    .uikit__group 
      +pagination({start: 1, current: 2, last: 15})
    .uikit__group 
      +dropdown({label: "Гости", placeholder: "Сколько гостей", items: [
          {name: 'Взрослые', count: 0, declensions: "гость, гостя, гостей"},
          {name: 'Дети', count: 0, declensions: "гость, гостя, гостей"},
          {name: 'Младенцы', count: 0, declensions: "младенец, младенца, младенцев"},
      ]}, 'guests')

      +dropdown({label: "Удобства номера", placeholder: "Выберите удобства", items: [
          {name: 'Спальни', count: 0, declensions: "спальня, спальни, спален"},
          {name: 'Кровати', count: 0, declensions: "кровать, кровати, кроватей"},
          {name: 'Ванные комнаты', count: 0, declensions: "ванная комната, ванных комнаты, ванных комнат"},
      ]}, 'comfort')

